:root {
  --white-color: #fff4;
}
.Loader {
  background: var(--white-color);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .9;
  overflow: hidden;
}