.WithChatBoardRenders {
    &-AddBtn {
        &.MuiIconButton-sizeMedium {
            background-color: var(--sidebar-background-color-dark);
            border: 1px solid var(--sidebar-background-color-dark);
            color: white;
            font-size: 16px;
            padding: 15px 0;
            border-radius: 13px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            text-align: center;
            width: 100%;
            font-weight: var(--font-w-bold);
            margin-bottom: 20px;

            &:hover {
                background-color: lighten(#202a3d, 10);
            }
        }

        &[disabled] {
            border-color: #999;
        }
    }
}
