.ChatBoardTabs {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 30px;

    &-TabsSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
