@import "src/style/base/media";

.ChatBoardPage {
    margin: 0 auto;
    margin-top: 80px;
    width: 95%;

    @include after-mobile {
        display: grid;
        grid-template-columns: 30% 68%;
        column-gap: 2%;
        margin-top: 50px;
    }

    > div {
        box-shadow: 3px 5px 20px -5px rgba(0,0,0,0.18);
        -webkit-box-shadow: 3px 5px 20px -5px rgba(0,0,0,0.18);
        -moz-box-shadow: 3px 5px 20px -5px rgba(0,0,0,0.18);
    }

    &-SelectTabBtn {
        position: fixed;
        top: 1rem;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);

        .Tab {
            &-Button {
                background: var(--sidebar-main-color-dark);
                color: var(--sidebar-background-color-dark);
                border: 0;
            }
        }
    }
}
