.toggle_button {
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }

  &:focus {
    outline: none;
  }

  &__line {
    width: 30px;
    height: 3px;
    background: var(--sidebar-main-color-dark);
  }
}
