@import "src/style/base/media";

.toggle_button {
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: none;

  @include mobile {
    display: flex;
    position: absolute;
    right: 15px;
  }


  &:focus {
    outline: none;
  }

  &__line {
    width: 30px;
    height: 3px;
    background: var(--sidebar-main-color-dark);
  }
}
