* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--roboto-regular-font);
}

.Container {
  &-Wrapper {
    &-isOpen {
      display: flex;
      height: 100vh;

      > div:first-child {
        width: 30vh;
        outline: none;
        height: 100vh;

        @media (max-width: 768px) {
          width: unset;
        }

        :focus {
          outline: none;
        }
      }

      .MainContent {
        grid-area: content;
        overflow: auto;
        height: 100vh;
        width: 100%;

        &.isOpen {
          z-index: -1;
        }
      }
    }
  }
}
