* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a,button {
  font-family: var(--roboto-regular-font);
}

.Container {
  &-Wrapper {
    grid-template-columns: 30vh auto;
    grid-template-areas: "nav content";

    .Navigation {
      grid-area: nav;
      background-color: var(--sidebar-background-color-dark);
      color: var(--sidebar-main-color-dark);
      height: 100%;
      bottom: 0;
      left: 0;
    }

    .MainContent {
      grid-area: content;
      overflow: auto;
      height: 100vh;
    }
  }
}