$white: #fff;
$sidebar-background-color-dark: #202a3d;
$sidebar-link-color-light: #dcdfe6;
$chatboard-tab-background: #FCFCFC;
$chatboard-hover-tab-background: #EDF7F6;
$chatboard-active-tab-background: #DBD8B3;

$font-roboto-regular: 'Roboto', sans-serif;
$font-standard-size: 14px;
$font-size-16px: 16px;
$font-w-bolder: 800;
$font-w-bold: 600;
