:root {
    --button-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.12);
    --font-size-16px: $font-size-16px;
}

.ChatBoardTabItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    color: var(--black);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-out .15s;
    outline: none;
    position: relative;

    @media (max-width: 425px) {
        gap: 0;
    }

    &:hover {
        background-color: lighten(#202a3d, 60);
        color: var(--black);
    }

    &_isActive {
        background-color: lighten(#202a3d, 75);

        &:hover {
            background-color: lighten(#202a3d, 60);
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    &-TabName {
        font-size: var(--font-size-16px);
        text-transform: uppercase;
        font-weight: var(--font-w-bold);
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-Button {
        display: none !important;

        &_isActive {
            display: block !important;
        }
    }

    &-Count {
        position: absolute;
        right: 20px;
        font-size: 18px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: lighten(#202a3d, 70);
        color: darken(#202a3d, 50);
    }
}
