:root {
    --button-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.12);
    --font-size-16px: $font-size-16px;
}

.ChatBoardTabItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 15px 15px 25px;
    background-color: var(--chatboard-tab-background);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-out .15s;
    outline: none;

    box-shadow: var(--button-box-shadow);
    -webkit-box-shadow: var(--button-box-shadow);
    -moz-box-shadow: var(--button-box-shadow);

    &:hover {
        background-color: var(--chatboard-hover-tab-background);
        color: black;
    }

    &_isActive {
        background-color: var(--chatboard-active-tab-background);

        &:hover {
            background-color: var(--chatboard-active-tab-background);
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    &-TabName {
        font-size: var(--font-size-16px);
    }

    &-Button {
        display: none !important;

        &_isActive {
            display: block !important;
        }
    }
}
