.SideDrawer {
  height: 100%;
  background: var(--sidebar-background-color-dark);
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 425px) {
    max-width: unset;
    width: 100%;
  }

  @media (min-width: 769px) {
    display: none;
  }

  nav {
    width: 100%;
  }


  &.open {
    position: fixed;
    width: 100%;
    background: var(--sidebar-background-color-dark);
    border-radius: 0;

    button {
      background: var(--sidebar-main-color-dark);

      &:active {
        outline: none;
      }
    }

    padding: 0;
  }

  .Navigation {
    &-Links {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-20-px);
      text-align: center;
      width: 100%;

      &_isActive{
        &.Navigation-Links {
          background: lighten(#202a3d, 10);
        }
      }

      a {
        color: var(--sidebar-main-color-dark);
        text-decoration: none;
        padding: 20px;
        width: 100%;
        background-image: linear-gradient(#38588b, #3B5179FF);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s, color .5s;

        &:hover {
          background-size: 100% 100%;
          color: #fff;
        }

        &:active {
          background-size: 0% 0%;
        }
      }
    }
  }
}

.SideDrawer.Popup-Content {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  &_isActive {
    transform: translateX(0);
  }
}
