@import "src/style/base/media";

.CustomerPage {
  &-Container {
    h1 {
      text-align: center;
    }
  }

  &-Wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 2rem;

    @include mobile {
      grid-template-columns: unset;
      gap: 25px;
      margin: 10px;
    }

    @include small-mobile {
      display: block;
    }

    @media (min-width: 769px) and (max-width: 1150px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
