.Header {
  width: 100%;
  position: fixed;
  height: 70px;
  background: var(--sidebar-background-color-dark);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  h1 {
    margin: 0;
    color: var(--sidebar-main-color-dark);
    text-transform: capitalize;
  }

  .Tab {
    &-Button {
      color: var(--sidebar-main-color-dark);
      border-color: var(--sidebar-main-color-dark);
      outline: 0;

      &:focus,
      &:active {
        border-color: var(--sidebar-main-color-dark);
      }
    }
  }
}