@import "base/media";
@import "base/variables";
@import "base/root";


@import "base/global";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  &-Wrapper {
    grid-template-columns: 30vh auto;
    grid-template-areas: "nav content";

    .Navigation {
      grid-area: nav;
      background-color: #202a3d;
      color: #dcdfe6;
      height: 100%;
      bottom: 0;
      left: 0;
    }

    .MainContent {
      grid-area: content;
      overflow: auto;
      height: 100vh;
    }
  }
}
