.ChatBoardAddTabPopup {
  .ChatBoardTabs {
    &-AddBtn {
      &.MuiIconButton-sizeMedium {
        background-color: unset;
        border: 0;
        color: inherit;
        padding: unset;
        width: unset;
      }
    }
  }
}
