#email-helper-text,
#password-helper-text {
  color: red;
  margin-left: 4px;
  position: absolute;
  margin-top: 3.6rem;
}

//.Error {
//  .MuiOutlinedInput-notchedOutline  {
//    border-color: red;
//  }
//}
