:root {
  --font-size-20-px: 20px;
}

.NavigationWrapper {
  width: 30vh;
  height: 100vh;
  background: var(--sidebar-background-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    display: none;
  }


  .Navigation {
    &-Links {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-20-px);
      text-align: center;
      width: 100%;

      &_isActive{
        &.Navigation-Links {
          background: lighten(#202a3d, 10);
        }
      }

      a {
        color: var(--sidebar-main-color-dark);
        text-decoration: none;
        padding: 20px;
        width: 100%;

        &:hover {
          background: lighten(#202a3d, 20)
        }
      }

      .CopyRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;

        button {
          width: 100%;
          padding: 1rem 0;
          background: transparent;
          box-shadow: unset;

          &:hover {
            background: lighten(#202a3d, 20)
          }
        }
      }
    }
  }
}
