:root {
  --font-size-20-px: 20px;
}

.NavigationWrapper {
  width: 30vh;
  height: 100vh;
  background: var(--sidebar-background-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    display: none;
  }


  .Navigation {
    &-Links {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-20-px);
      text-align: center;
      width: 100%;

      &_isActive{
        &.Navigation-Links {
          background: lighten(#202a3d, 10);
        }
      }

      a {
        color: var(--sidebar-main-color-dark);
        text-decoration: none;
        padding: 20px;
        width: 100%;
        background-image: linear-gradient(#38588b, #3B5179FF);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s, color .5s;

        &:hover {
          background-size: 100% 100%;
          color: #fff;
        }

        &:active {
          background-size: 0% 0%;
        }
      }
    }
  }
}
