:root {
  --font-size-20-px: 20px;
}

.NavigationWrapper {
  width: 30vh;
  height: 100vh;
  background: var(--sidebar-background-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    display: none;
  }


  .Navigation {
    &-Links {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-20-px);
      text-align: center;

      a {
        color: var(--sidebar-main-color-dark);
        text-decoration: none;
        margin-bottom: 2rem;
        font-family: var(--roboto-regular-font);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
