@import "src/style/base/media";

.ChatBoardQuestionPopup {
    @include after-mobile {
        min-width: 350px;
    }

    &-AddQstButton {
        width: 100%;
        text-align: right;
    }

    &_isEditting {
        width: 550px;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;

        @include mobile {
            max-height: 100%;
            width: unset;
        }

        > div {
            margin-right: 20px;

            @include mobile {
                margin-right: 5px;
            }
        }
    }

    &-Input {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;

        > button {
            width: 40px;
        }
    }

    .MuiFormControl-root {
        margin-bottom: 30px;
    }
}
